    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" />
    </div>
    <div>
      <label for="post-content">Post Content</label>
      <textarea id="post-content" rows="20"></textarea>
    </div>
