<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/blog-style.css">
</head>

<body>
  <div class="wrapper bgHeading">
    <header class ="container">
      <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        {{/if}}
        {{#unless loggedIn}}
        <a href="/login">Dashboard</a>
        {{/unless}}
        {{#if loggedIn}}
        <a href="/" id="logout">Logout</a>
        {{/if}}
        {{#unless loggedIn}}
        <a href="/login">Login</a>
        {{/unless}}
      </nav>
      <div class = "siteNameContainer">
        <span class = "siteName">The Tech Blog</span>
      </div>
    </header>
  </div>
  <main class ="wrapper">
    <div class="container">
      {{{ body }}}
    </div>
  </main>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>