<h2>Your Dashboard</h2>
{{#if posts.length}}
<section>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post fromDashBoard = true}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
<button type="submit" class="btnNewPost" id = "btnNewPost">+ New Post</button>

<script src="/javascript/dashboard.js"></script>

