<form class="login-form post">
  <span class = "title">Login</span>

  <div class ="login-flex">
    {{> login }}

    <button type="submit" class="btnCSS">Login</button>
    <span class="signup-instead"><a href="/signup">Sign up instead</a></span>
  </div>

</form>

<script src="/javascript/login.js"></script>