<form class="login-form">
  <h2>Login</h2>
  {{> login }}
  <div>
    <button type="submit">Login</button>
  </div>
  <div><a href="/signup">Sign up instead</a></div>
</form>
<script src="/javascript/login.js"></script>