<section>
  <h2>Create New Post</h2>
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" />
    </div>
    <div>
      <label for="post-content">Post Content</label>
      <textarea id="post-content" rows="20"></textarea>
    </div>

    <button type="submit" class="btn" id="btnNewSubmit">Submit</button>
  </form>
</section>

<script src="/javascript/post-add.js"></script>