<section>
  <h2>Edit Post</h2>
  <form class="edit-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" value="{{post.title}}" />
    </div>
    <div>
      <label for="post-content">Post Content</label>
      <textarea id="post-content" rows="20">{{post.post_content}}</textarea>
    </div>

    <button type="submit" class="btn" id="btnEditSubmit">Update Post</button>
    <button type="submit" class="btn" id="btnDelete">Delete</button>
  </form>
</section>

<script src="/javascript/post-edit.js"></script>