<h2>Your Dashboard</h2>
<form class="login-form post" id="new-post-form">
  <span class = "title">Create New Post</span>

  <div class ="login-flex">
      <label for="post-title">Title</label>
      <input type="text" id="post-title" class="border-blue" />
      <label for="post-content">Post Content</label>
      <textarea id="post-content" rows="20" class="border-blue"></textarea>
      <button type="submit" class="btnCSS" id="btnNewSubmit">Create</button>
  </div>
</form>


<script src="/javascript/post-add.js"></script>