<form class="login-form post">
  <span class = "title">Sign Up</span>

  <div class ="login-flex">
    {{> login }}

    <button type="submit" class="btnCSS">Sign Up!</button>
    <span class="signup-instead"><a href="/signup">Login instead</a></span>

  </div>
</form>
<script src="/javascript/signup.js"></script>